@import "../node_modules/font-awesome/css/font-awesome.css";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5!important;
}

html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

.center{
  text-align: center;
}

.todobox{
  margin-top: 3%;
  height: 80%;
  background-color: white;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
}

.float-right{
  float: right;
}
.foundation-red{
  color: #c60f13;
}
.task{
  padding: 2% 8% 2% 8%;
  margin: 2% 8% 2% 8%;
}
.completed>p, .completed>h4{
  text-decoration: line-through;
}
.min-button-width{
  min-width: 20%;
}

input[type=checkbox] { display: none; }
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; color: #c60f13; font-size: 30px;line-height: 0;} /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; color: #5da423; font-size: 30px; line-height: 0;} /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 2px; } /* allow space for check mark */
.checkbox-label{
  margin-left: 0rem!important;
  padding-top: 0.4rem;
  line-height: 0;
}
